.container {
  max-width: 1320px !important;
}

* {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #1d253c;
}

a:hover {
  text-decoration-color: #007188;
}

.info {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #F46752;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h3 {
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.text {
  font-size: 19px;
  line-height: 30px;
  color: #5A6482;
}

.main-button {
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: none;
  color: #126F86;
  padding: 0px !important;
}

.header {
  padding-bottom: 35px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__container-link {
  font-size: 18px;
  line-height: 19px;
  margin-left: 30px;
}

.header__block-button:nth-child(1) {
  font-size: 18px;
  line-height: 19px;
  background: none;
}

.header__block-button:nth-child(2) {
  font-size: 18px;
  line-height: 19px;
  margin-left: 40px;
  padding: 13px 31px;
  font-weight: 700 !important;
  background: none;
  border-radius: 5px;
  border-color: #D2D3D8;
}

header {
  border-bottom: 2px solid #d2d3d8;
}

.hero {
  padding-top: 223px;
  padding-bottom: 223px;
}

.hero-info {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  color: #F46752;
  margin-bottom: 0px;
}

.hero-title {
  font-size: 64px;
  line-height: 68px;
  font-weight: bold;
  text-transform: capitalize;
}

.hero-text {
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 40px;
}

.hero-button {
  color: white !important;
  background-color: #F46752;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 21px 40px;
}

.statics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help {
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.safe {
  text-align: center;
}

.safe__list {
  display: flex;
  justify-content: center;
}

.safe__list-item {
  background-color: white;
  max-width: 320px;
}

.safe__list-item:nth-child(1) {
  padding: 60px 0px 0px 0px;
}

.safe__list-item:nth-child(2) {
  padding: 30px 0px 0px 0px;
}

.safe__list-item:nth-child(3) {
  padding: 50px 0px 0px 0px;
}

.how {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 100px;
}

.how-section {
  background-color: #363839;
}

.how-info {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.how-title {
  margin-top: 26px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white !important;
}

.how-text {
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  max-width: 731px;
  font-size: 19px;
  line-height: 30px;
  color: #ACB4BF;
}

.how-button {
  background-color: #F46752;
  padding: 20px 36px 21px 29px;
  color: white;
  text-transform: uppercase;
}

.how-button-arrow {
  padding-left: 3px;
  padding-bottom: 3px;
}

.how__list {
  background-image: url(../img/how/how-bg.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -100px;
  margin-top: 60px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.how__list-item {
  margin-right: 127px;
  max-width: 240px;
}

.how__list-item:last-child {
  margin-right: 0px;
}

.how__list-item-title {
  margin-top: 27px;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color: white;
  margin-bottom: 8px;
}

.how__list-item-text {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ACB4BF;
  margin-bottom: 0px;
}

.list {
  margin-top: 160px;
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
}

.list__item {
  max-width: 260px;
  padding-top: 40px;
  padding-left: 22px;
  padding-bottom: 33px;
  margin-right: 20px;
}

.list__item:last-child {
  margin-right: 0px;
}

.list__item-title {
  max-width: 173px;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
}

.list__item-text {
  font-size: 16px;
  line-height: 19px;
  color: #5A6482 !important;
  padding-bottom: 84px;
}

.list__item-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.list__item-link-img {
  margin-left: 4px;
}

.offer {
  text-align: center;
  padding-bottom: 85px;
  padding-top: 180px;
}

.offer-section {
  background-color: #E5F3FE;
}

.offer-wrap {
  background-image: url(../img/offer/offer-bg-1.png), url(../img/offer/offer-bg-2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right 10% bottom;
}

.offer-title {
  font-size: 44px;
  line-height: 52px;
  color: #1D253C;
  margin-bottom: 8px;
}

.offer-text {
  margin-bottom: 39px;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */